:root {
    --primary-color: #F7EAF6;
    --secondary-color: #5300C8;
    --accent-color: #03318C;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 96px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.header__title {
    font-size: 2rem;
}

main { /*cambiar a BEM despues*/
    background-color: var(--primary-color);
}

.input {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 16px 0;
}

.input__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.input__form {
    display: flex;
    flex-flow: column nowrap;
    width: 66%;
}

.input__form__label {
    align-self: flex-start;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: var(--accent-color);
}

.input__form__field {
    height: 2rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    border-radius: 32px;
    margin-bottom: 16px;
    padding: 0 1rem;
}

.input__form__button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 32px;
    gap: 15px;
}

.input__form__button-container__submit {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
}

.input__form__button-container__clear {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 10px 30px;
    border: 2px solid var(--accent-color);
    border-radius: 15px;
}

.output {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 16px;
    max-height: 50vh;
}

.output__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.output__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    overflow: scroll;
}

.output__list__item__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: -5px 6px 3px rgba(0, 0, 0, 0.25);
    padding: 10px;
    gap: 10px;
}

.item-image {
    width: 176px;
    height: 174px;
}

.output__list__item__container__p {
    align-self: flex-start;
}

.output__list__item__container__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-width: 100%;
}

.delete-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1rem;
}

.output__list__item__container__container__p {
    font-weight: bold;
}

/*  */

.footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 16px 0;
}

.footer__title-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        flex-flow: row-reverse nowrap;
        padding: 90px 0;
        gap: 50px;
    }

    .input {
        flex-grow: 1;
    }

    .input__title {
        position: relative;
        left: -5%;
    }

    .input__form {
        width: 85%;
        align-self: flex-start;
    }

    .output {
        flex-grow: 1;
        max-width: 60%;
        max-height: 50vw;
        padding: 16px 32px;
        box-sizing: border-box;
    }

    .output__list {
        padding: 16px 0;
        box-shadow: -5px 6px 3px rgba(0, 0, 0, 0.25);
    }
}